@import '../../../assets/styles/index.scss';

.timeline-modal {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  @include respond(mobile) {
    width: 95%;
  }

  &__title,
  &__description {
    text-align: center;
    margin: 2rem;

    @include respond(tab-port) {
      font-size: 2rem;
    }

    @include respond(mobile) {
      font-size: 2.2rem;
    }
  }

  &__button {
    opacity: 0.2;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    float: right;

    &:hover {
      opacity: 1;
    }
  }
}