@import '../../assets/styles/index.scss';

.contact-form {
  color: $color-blue;
  // height: 50vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  margin: 4rem auto;
  width: 50vw;

  @include respond(phone) {
    width: 60vw;
  }

  & [type='text'], 
  & [type='email'] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    margin-bottom: 3px;
  }

  & [type='submit'] {
    margin: 0.5rem 0 0 0;
    font-size: 12pt;
    padding: 1rem 3rem;
    background: transparent;
    outline: 0;
  }

  textarea {
    min-height: 15rem;
    margin-bottom: 0.5rem;
  }


  .hidden {
    display: none;
  }

  &-title,
  &-subtitle {
    text-align: center;
    margin: 2rem;
  }
}