 @import '../../assets/styles/index.scss';

.footer {
  z-index: 10;
  height: 11rem;
  position: relative;

  &.dark {
    background-color: $color-blue;
    color: $color-skin;

    & svg {
      fill: $color-skin;
    }
  }

  &.light {
    background-color: $color-skin;
    color: $color-blue;

    & svg {
      fill: $color-blue;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-links {
    display: flex;
    margin: 1rem;

    & li:not(:last-child) {
      padding-right: 0.4rem;
    }
  }

  &-text {
    @include respond(tab-land) {
      font-size: 2rem;
    }
  }
}