@import '../../../assets/styles/index.scss';

.timeline-modal {
  position:fixed;
  background: white;
  width: 70%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow-y: auto;
  max-height: calc(100vh - 130px);

  @include respond(mobile) {
    width: 95%;
  }
}