//COLORS
$color-skin: #EDC7B7;
$color-skin-light: #EEE2DC;
$color-gray: #BAB2B5;
$color-dark-gray: #474e5d;
$color-blue: #123C69;
$color-blue-light: #3b86ac;
$color-ruby: #AC3B61;

// FONT
$default-font-size: 1.6rem;

$header-height: 7rem;
$footer-height: 11rem;